body {
  background-color: rgb(207, 213, 230);
}

img {
  border-radius: 15px;

}


.card {
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
}

li {
  margin: 2px;
  padding: 5px;
  list-style-type: none;
  text-align: center;
}

.card-header {
  text-align: center;
}

form {
  margin-bottom: 25px;
}
